/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }


body {
    margin: 0;
    padding: 0;

    background-color: #F5F5F5;

    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 1.6;
    /* text-align: justify; */
}

.pc {
    background-color: #FFF;
}

/* Header */
    .header {
        background: url("images/inari\ 2.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 350px;

        position: relative;
        display: flex;

        font-size: smaller; 
    }
        /* popisky */
        .headercontent {
            color: white;
            text-shadow: 0px 1px 2px black;
            text-align: center;

            padding: 15px 25px 15px 25px;
            z-index: 1;
        }
            .titulek {
                font-family: 'Raleway', serif;
            }

            .autor { 
                opacity: 0.7;
                text-shadow: none;
            }

            .slimline {
                width: 25%;
            }
        /* konec popisky */

        .overlay {
            background-color: #000;
            opacity: 0.3;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    
 /* konec header */
    

/* MENU */
    .menu {
        
        text-align: center;
        list-style: none;
        text-transform: uppercase;
        font-size: smaller;

        width: 100%;
        padding: 0;
        margin-top:0;

        display: inline-block;    
    }

    .menu li {
        border-bottom: solid orangered 1px;
        padding: 10px;
        box-sizing: border-box;
    }

    .menu a {
        color:orangered;
        text-decoration: none;
    }

    .menu a:hover {
        color:brown;
        text-shadow: 0px 1px 2px black;
    }  


/* konec menu */


/* OBSAH */

    /* nadpis */

    .obsah {
        position: relative;
    }
    h2, p {
        padding: 25px ;
        margin: 0;
    }
        h2::after {
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            height: 5px;
            background: orangered;
            width: 90px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .obsah a {
            color:orangered;
            text-decoration: none;
        }

    /* obrázky */
    img {
        width: 100%;
        border-top: solid orangered 1px;
        border-bottom: solid orangered 1px;
        }

    /* popisky obrázků i pro popisky ve fotogalerii!!!*/
     .popisek, .popisek a {
        margin: 0;
        padding: 10px;

        color:orangered;
        opacity: 0.7;
        text-align: center;
        font-size: smaller;
    }
    .popisek a {
        text-decoration: underline;
    }
        .popisek a:hover {
            color:brown;
            text-decoration: none; 
            text-shadow: 0px 1px 2px black;
        }
  
/* konec obsah */


/* GALERIE */

    .foto .popisek {
        padding-bottom: 20px;
    }

    .galerie {
        margin: 25px 0 0 0;
    }
/* konec galerie */


/* PATICKA */
.footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: solid orangered 1px;
    border-bottom: solid orangered 1px;
}
    /* popisky v patičce */
    .copyrights {
        color: white;
        text-shadow: 0px 1px 2px black;
        font-size: smaller;
        z-index: 3;
        width: 100%;
    }
        .copyrights a {
            text-decoration: underline;
            text-shadow: none;
        }
        .footer .ya {
            color: white;
            text-decoration: underline;
            text-shadow: 0px 1px 2px black;
        }

    /* overlay v patičce*/

    .footer .overlay {
        background-color: black;
        opacity: 0.4;
        position: absolute;
    }
/* konec footer */


/* tablet 500 - 1000px */
@media (min-width: 500px) {

    /* menu */
        .menu {
            display: inline-block;
            width: 100%;
            margin-top: 20px;
        }
            .menu li  {
                width: 25%;
                float: left;
                border: solid orangered 1px;
            }
    /* konec menu */

    /* obsah - obrázkům měníme popisky*/
        .ilustrace {
            position: relative;
        }
        .ilustrace .popisek {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 1;
            color: white;
            opacity: 1;
        }
        .ilustrace a {
            color: white;
            opacity: 1;
        }
    /* konec úprav obsahu */


    /* galerie */
        .galerie {
            display: flex;
            flex-wrap: wrap;
        }
            .galerie .foto {
                width:50%;
                border: none;
                position: relative;
                overflow: hidden;
            }

            .galerie .foto:hover .popisek {
                transform: translate(0, -100%);
            }

            .foto .popisek, .foto img {
                border: none;
            }

        /* animace popisků */
        .galerie .foto .popisek {
            background-color: rgba(0, 0, 0, 0.9);
            color: #FFF ;
            text-shadow: none;
            font-weight: bold;
            margin: 0;
            position: absolute;
            width: 100%;
            padding: 30px 0 30px 0;
            transition: all 500ms ease 0s;
        }

        .galerie .foto img {
            display: block;
            transition: all 500ms ease 0s;
        }

        .galerie .foto:hover img {
            transform: scale(1.3);
        }


    /* konec fotogalerie */

    .footer {
        text-align: right;
    }
}

/* pc nad 1000px */
@media (min-width: 1000px){

    .pc {
        width: 960px;
        background-color: #FFF;
        margin: auto;
        position: relative;
        top:-50px;
        box-shadow: 0 0 15px 3px brown;
    }


    /* menu */
        .menu {
            display: block;
            width: 20%;
            height: 100%;
            padding: 30px;
            text-align: left;
            float: left;
        }
            .menu li  {
                width: 100%;
            
                border: none;
                border-bottom: solid orangered 1px;
            }
            .menu a {
                display: block;
                width: 100%;
            }
    /* konec menu */
    
    /* obsah */
        .obsah {
            display: block;
            width: 80%;
        }
        .zprava {
            /* float: right; */
            margin-left:20%;
        }


    /* konec obsah */


    /* galerie */
            .galerie .foto {
                width:33.333%;
            }
            .fotogalerie {
                min-width: 100%;
            }
    /* konec galerie */

    /* patička */
    .footer {
        min-width: 100%;
        text-align: center;
    }
}